

<div *ngIf="car">
    <p>Manage Car Page</p>
    <mat-card>
        <mat-card-header>
            <div *ngIf="car.images_keys; else noimage" mat-card-avatar>
                <img class="imagecircleicon" [src]="'https://c2c.sgp1.digitaloceanspaces.com/images/car/'+car.images_keys">
            </div>
            <ng-template #noimage><p>no image</p></ng-template>
            <mat-card-title>{{car.vehicle_regis_no}}</mat-card-title>
            <mat-card-subtitle><strong>Status:{{carStatus[car.status]}}</strong></mat-card-subtitle>
            <mat-card-subtitle>{{car.car_id}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-footer>
            <button mat-button color="primary" type="button" (click)="gotoUploadImage(car.car_id)">Update Car Image</button>
        </mat-card-footer>
    </mat-card>
    <div>
        <h4>Car Details</h4><br>
        vehicle_regis_no:{{car.vehicle_regis_no}}<br>
        rental_rate:{{car.rental_rate}}<br>
        country:{{car.country_code}}<br>
        city:{{car.city}}<br>
        year:{{car.year}}<br>
        maker:{{car.maker}}<br>
        model:{{car.model}}<br>
        trim:{{car.trim}}<br>
        description:{{car.description}}<br>
        extras:{{car.extras}}<br>
        like:{{car.like_count}}<br>
        review count:{{car.review_count}}<br>
    </div>
    <div>
        <h4>Car Earning</h4><br>
        total_rent:{{car.money.total_rent}}<br>
        total_days:{{car.money.total_days}}<br>
        total_dropoff_rate:{{car.money.total_dropoff_rate}}<br>
        total_collection_rate:{{car.money.total_collection_rate}}<br>
        total_rate:{{car.money.total_rate}}<br>
    </div>

    <hr>
    <h4>Collection and deletion point</h4>
    <div *ngFor='let lp of car.location_points; let i = index'>
        index:{{i}} || Location:{{lp.title}} || Address:{{lp.address}}<br>
    </div>
    <hr>
    <h4>Reserved Dated of the Car</h4>
    <div *ngFor='let rd of car.reserved_dates; let i = index'>
        index:{{i}} || FROM:{{rd.date_from}} || TO:{{rd.date_to}}<br>
    </div>
    <button mat-button color="primary" type="button" (click)="deleteCar(car.car_id)" disabled="true">Delete Car</button>
    <!-- TODO
    <form [formGroup]="carForm" (ngSubmit)="updateCar()">
        <div fxLayout="column" fxLayoutAlign="start">
            <input type="text" formControlName="car_id" readonly>
            <div>
                <mat-form-field>
                    <input placeholder="rental_rate" formControlName="rental_rate" matInput type="text"/>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <input placeholder="country" formControlName="country_code" matInput type="text"/>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <input placeholder="city" formControlName="city" matInput type="text"/>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <input placeholder="year" formControlName="year" matInput type="text"/>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <input placeholder="maker" formControlName="maker" matInput type="text"/>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <input placeholder="model" formControlName="model" matInput type="text"/>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <input placeholder="trim" formControlName="trim" matInput type="text"/>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <input placeholder="description" formControlName="description" matInput type="text"/>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <input placeholder="extras comments" formControlName="extras" matInput type="text"/>
                </mat-form-field>
            </div>
            <div>
                <button mat-raised-button color="primary" [disabled]="this.carForm.invalid" type="submit">
                    Update
                </button>
            </div>
        </div>
    </form>
    -->
</div>
