.nospacebetween{
    padding:0;
    margin:0;
}
.morespacebetween{
  padding:0;
  margin:0px 3vw;
}

span {
    font-size: 0.8em;
}

ul {
    list-style-type:none;
    font-size: 0.7em;
}

a:link {
    color: white;
  }
  
  /* visited link */
  a:visited {
    color: white;
  }
  
  /* mouse over link */
  a:hover {
    color: red;
  }
  
  /* selected link */
  a:active {
    color: red;
  }