

<mat-toolbar color="primary" fxLayout="column" fxLayoutAlign="start">
    <ul>
        <li class="nospacebetween"><a class="nospacebetween" routerLink="/contact-us">Contact Us</a></li>
        <li class="nospacebetween"><a class="nospacebetween" routerLink="/about-us">About Us</a></li>
        <li class="nospacebetween"><a class="nospacebetween" routerLink="/FAQ">FAQ</a></li>
        <li class="nospacebetween"><a class="nospacebetween" routerLink="/TnC">TnC</a></li>
    </ul>
    <mat-toolbar-row>
        <span>All right reserved.</span>
    </mat-toolbar-row>
</mat-toolbar>