<div *ngIf="profile">
    
        <h3>Update Your Particular Form</h3>
        <mat-card>
            <mat-card-header>
                <div mat-card-avatar >
                    <img class="imagecircleicon" [src]="'https://c2c.sgp1.digitaloceanspaces.com/images/profile/'+profile.image_key">
                </div>
                <mat-card-title>{{profile.username}}</mat-card-title>
                <mat-card-subtitle>{{profile.first_name}} {{profile.last_name}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-footer>
                    <button mat-button color="primary" type="button" routerLink="/renter/manage-profile-image">Update Profile Image</button>
                </mat-card-footer>
        </mat-card>
        <form [formGroup]="profileForm" (ngSubmit)="updateProfile()">
            <input type="hidden" formControlName="profile_id" readonly/><br>
            <div fxLayout="column" fxLayoutAlign="start">
                <div>
                    <mat-form-field>
                        <input placeholder="email" formControlName="email" matInput type="text"/>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <input placeholder="contact_no" formControlName="contact_no" matInput type="text"/>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <input placeholder="first_name" formControlName="first_name" matInput type="text"/>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <input placeholder="last_name" formControlName="last_name" matInput type="text"/>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <input placeholder="address" formControlName="address" matInput type="text"/>
                    </mat-form-field>
                </div>
                <div>
                    <button mat-raised-button color="primary" [disabled]="this.profileForm.invalid" type="submit">
                        Update
                    </button>
                </div>
            </div>
        </form>
    </div>