/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.form-border{
    border:solid black 2px;
}

.msg-text{
    font-size: 1em;
}

.imagecircleicon {
    width: auto;
    height: 50px;
    max-width: 50px;
    border-radius: 50%;
}

.imagecircleicon {
    width: auto;
    height: 150px;
    max-width: 50px;
    border-radius: 5%;
}