/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.form-border{
    border:solid black 2px;
}

.msg-text{
    font-size: 1em;
}

.imagecircleicon {
    height: 50px;
    width: auto;
    max-width: 50px;
    border-radius: 50%;
}

.imagecar-wapper{
    min-height:150px;
}
.imagecar {
    width: auto;
    height: 150px;
    max-width: 300px;
    border-radius: 5%;
}

.imagecarbig-wapper{
    min-height:250px;
    font-size: 10em;
}
.imagecarbig {
    width: auto;
    height: 250px;
    max-width: 500px;
    border-radius: 1%;
}