<h5>Welcome. Please fill up the form below</h5>
<h3>Register Form</h3>

<form [formGroup]="registerRenterForm" (ngSubmit)="createRenterProfile()">
        <div fxLayout="column" fxLayoutAlign="start">
                <div>
                    <mat-form-field>
                        <input matInput placeholder="Your username" type="text" formControlName="username"/>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <input matInput placeholder="Your password" type="text" formControlName="password"/>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <input placeholder="confirmPassword" formControlName="confirmPassword" matInput type="text"/>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <input placeholder="email" formControlName="email" matInput type="text"/>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <input placeholder="contactNo" formControlName="contactNo" matInput type="text"/>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <input placeholder="firstName" formControlName="firstName" matInput type="text"/>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <input placeholder="lastName" formControlName="lastName" matInput type="text"/>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <input placeholder="address" formControlName="address" matInput type="text"/>
                    </mat-form-field>
                </div>
                <div>
                    <button mat-button color="primary" [disabled]="this.registerRenterForm.invalid" type="submit">
                        Register
                    </button>
                </div>
            </div>
</form>