.bg-image {
    width: 100%;
    height: auto;
    display: block;
    position: relative;
  }
  
.bg-image::after {
content: "";
background: url(../assets/bgnight1.jpg);
opacity: 0.2;
top: 0;
left: 0;
bottom: 0;
right: 0;
position: absolute;
z-index: -1;   
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 300px;    /* Footer height */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 300px;            /* Footer height */
}